body{
  background-color: #ffffff;
  font-family: 'Roboto';
}

.main{
  display: grid;
  grid-template-columns: 360px 360px 360px 360px;
  grid-template-rows: 150px 350px 100px 250px 250px 250px 100px 200px 320px 110px;
  gap: 15px;
  padding: 10px;
}

.side_bar{
  
  padding: 10px;
  grid-column: 1 / span 4 ;
  color: #3da9c9;
  text-align: center;
}

.box_usage_rate{
  background-color: rgb(250, 250, 250);
  padding: 10px;
  grid-column: 1 /span 4 ;
  box-shadow: 3px 3px 3px lightgrey ;
  color: #757575;
  text-align: center;
}

.box_comment_radar{
  border-radius: 20px;
  background-color: #96f2f7;
  margin: 10px;
  padding: 10px;
  box-shadow: 2px 2px 2px lightgrey;
  font-size: small;
  text-align: center;
  font-family: 'Roboto';
}


.box_drug_1{
  background-color: #3da8c9be;
  padding: 10px;
  grid-column: 3 ;
  grid-row: 3;
  box-shadow: 3px 3px 3px lightgrey ;
  color: #757575;
}

.box_drug_2{
  background-color: #96f2f7;
  opacity: 1;
  padding: 10px;
  grid-column: 2 ;
  grid-row: 3;
  box-shadow: 3px 3px 3px lightgrey ;
  color: #757575;
}

.box_radar{
  background-color: rgb(250, 250, 250);
  padding: 10px;
  grid-column: 1 /span 2;
  grid-row: 4/span 3;
  box-shadow: 3px 3px 3px lightgrey ;
  color: #757575;
  text-align: center;
  align-items: center;
}

.box_age{
  background-color: rgb(250, 250, 250);
  padding: 10px;
  grid-column: 3/span 2;
  grid-row: 4;
  box-shadow: 3px 3px 3px lightgrey ;
  color: #757575;
  text-align: center;
}

.box_gender{
  background-color: rgb(250, 250, 250);
  padding: 10px;
  grid-column: 3/span 2;
  grid-row: 5;
  box-shadow: 3px 3px 3px lightgrey ;
  color: #757575;
  text-align: center;
}

.box_edu{
  background-color: rgb(250, 250, 250);
  padding: 10px;
  grid-column: 3/span 2;
  grid-row: 6;
  box-shadow: 3px 3px 3px lightgrey ;
  color: #757575;
  text-align: center;
}

.box_drug_3{
  background-color: #3da9c9;
  padding: 10px;
  box-shadow: 3px 3px 3px lightgrey ;
  grid-column: 2/span 2;
  grid-row: 7;
  color: #ffffff;
  text-align: center;
}

.box_average{
  background-color: rgb(250, 250, 250);
  padding: 10px;
  grid-column: 1 / span 4;
  grid-row: 8;
  box-shadow: 3px 3px 3px lightgrey ;
  color: #757575;
  text-align: center;
}

.box_heatmap{
  background-color: rgb(250, 250, 250);
  padding: 10px;
  box-shadow: 3px 3px 3px lightgrey ;
  grid-column: 1/span 2 ;
  grid-row:9/span 3;
  color: #757575;
  text-align: center;
}

.box_info{
  background-color: rgb(250, 250, 250);
  padding: 10px;
  grid-column: 3/span 2;
  grid-row:9;
  box-shadow: 3px 3px 3px lightgrey ;
  color: #757575;
}

.footer_1{
  background-color: rgb(250, 250, 250);
  padding: 10px;
  box-shadow: 3px 3px 3px lightgrey ;
  grid-column: 3 ;
  grid-row:10;
  color: #757575;
}

.footer_2{
  background-color: rgb(250, 250, 250);
  padding: 10px;
  box-shadow: 3px 3px 3px lightgrey ;
  grid-column: 4;
  grid-row:10;
  color: #757575;
}

.box_avg{
  border-radius: 10px;
  background-color: #3da9c9;    
  margin: 3px;
  box-shadow: 2px 2px 2px lightgrey;
  justify-content: center;
  width: 50%;
  text-align: center;
  color: #ffffff;
}

#drug_1 {
  color: black;
}
#drug_2 {
  color: black;
}
#drug_3 {
  color: black;
}

#drug_1 .VirtualizedSelectFocusedOption {
  background-color:#3da9c9;
}

#drug_2 .VirtualizedSelectFocusedOption {
  background-color:#96f2f7;
}

#drug_3 .VirtualizedSelectFocusedOption {
  background-color:#3da9c9;
}


* Scrollbars */
*::-webkit-scrollbar {
  width: 12px;               
}
*::-webkit-scrollbar-track {
  background: #5b7fae;        
}
*::-webkit-scrollbar-thumb {
  background-color:#5b7fae;    
  border-radius: 20px;      
  border: 3px solid #EDEFEB;  
}


h1{
  padding: 10px;
  margin: 10px;
}

h2{
  padding: 0px;
  margin: 0px;
}

h3{
  padding: 0px;
  margin: 0px;
}
h4{
  padding: 0px;
  margin: 0px;
}